*.la
*.lo
*.o
epp_test
*~
.cproject
.project
.settings/
.libs/
INSTALL
config.h.in
config.h
/Makefile
conf/02-fred-mod-eppd-apache.conf
/fred-mod-eppd.spec
_dataTypes.h
_dataTypes-stubs.c
_dataTypes-common.c
DateTime.h
DateTime-stubs.c
DateTime-common.c
Whois.h
Whois-stubs.c
Whois-common.c
Registry.h
Registry-stubs.c
Registry-common.c
Logger.h
Logger-stubs.c
Logger-common.c
Filters.h
Filters-stubs.c
Filters-common.c
EPP.h
EPP-stubs.c
EPP-common.c
Admin.h
Admin-stubs.c
Admin-common.c
tags
.gitignore.swp
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
lib/
doc/html/
doxy.conf
build.ninja
rules.ninja
.ninja_deps
.ninja_log
