*.la
*.lo
*.o
epp_test
*~
.cproject
.project
.settings/
.libs/
.deps/
INSTALL
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
libtool
stamp-h1
config.status
config.log
config.h
Makefile
conf/02-fred-mod-eppd-apache.conf
fred-mod-eppd.spec
_dataTypes.h
_dataTypes-stubs.c
_dataTypes-common.c
DateTime.h
DateTime-stubs.c
DateTime-common.c
Whois.h
Whois-stubs.c
Whois-common.c
Registry.h
Registry-stubs.c
Registry-common.c
Logger.h
Logger-stubs.c
Logger-common.c
Filters.h
Filters-stubs.c
Filters-common.c
EPP.h
EPP-stubs.c
EPP-common.c
Admin.h
Admin-stubs.c
Admin-common.c
tags
.gitignore.swp
ar-lib

